<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eat-da-Burgers!</title>
    <link rel="stylesheet" href="" type="text/css">
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- <script src="../../assets/js/burgers.js"></script> --}}


</head>
<body>
    {{{ body }}}
</body>
</html>